/* color logo #000000 
accent color #2196F3

цвет заголовков  #212121
цвет основного текста #757575
цвет текста адрес в футере rgba(255, 255, 255, 0.6);


белый цвет текста #FFFFFF
вторичный цвет фона #F5F4FA


*/
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;


}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

}


/* Logo */


.logo {
    color: #000000;
}

.logo .accent {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

/* Site nav */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus, 
.site-nav .link:active {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Hero */
.hero-title {
    color: var(--title-text-color);
}

/* Section */

.section-title {
    color: var(--title-text-color);
}

/* Features */

.feature-list .title {
    color: var(--title-text-color);
}

/* Team list */

.team-list .title {
    color: var(--title-text-color);
}

/* Button */

button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

}

/* .button.primary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}

.button.secondary {
    color: var(--primary-text-color);
    background-color: var(--accent-color);
} */

/* Портфолио */

.filter button {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
}
.filter button:active,
.filter button:hover,
.filter button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Примеры работ */

.works .link .title {
    color: var(--title-text-color);
}

.works .link {
    color: var(--primary-text-color);
}