/* color logo #000000 
accent color #2196F3

цвет заголовков  #212121
цвет основного текста #757575
цвет текста адрес в футере rgba(255, 255, 255, 0.6);


белый цвет текста #FFFFFF
вторичный цвет фона #F5F4FA


*/
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;


}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}


/* Logo */


.logo {
    color: #000000;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo .accent {
    color: var(--accent-color);
}

.logo .white {
    color: var(--primary-white-color)

}

.list {
    list-style: none;
}

/* Site nav */

.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus, 
.site-nav .link:active {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Контакты */

.contacts a.link {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts a.link:hover,
.contacts a.link:focus,
.contacts a.link:active {
    color: var(--accent-color);

}


/* Hero */
.hero-title {
    color: var(--primary-white-color);
    background-color: tomato;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Section */

.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Features */

.feature-list .title {
    color: var(--title-text-color);

}
.feature-list .title, 
 .work-list .title {
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;        
}

/* Work list */

.work-list .title {
    color: var(--primary-white-color);
    background-color: tomato;
}

/* Team list */

.team-list .title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-list .description {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.19;
}

/* Clients */

.clients:hover {
    background-color: var(--accent-color);

}

/* Button */

button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

}

/* .button.primary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}

.button.secondary {
    color: var(--primary-text-color);
    background-color: var(--accent-color);
} */


/* Footer */

footer {
    background-color: #2F303A;
}


.social-link:hover,
.social-link:active {
    background-color: var(--accent-color);

}

address {
    color: var(--primary-white-color);
    font-style: normal;
  
}

address .link {
    color: var(--primary-text-color);
    font-style: normal;
  
}

p.socials,
p.form {
    color: var(--primary-white-color);
   
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}


/* Портфолио */

.filter button {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
}

.filter button:active,
.filter button:hover,
.filter button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Примеры работ */

.works .link .title {
    color: var(--title-text-color);
}

.works .link {
    color: var(--primary-text-color);
}